.card {
    width: 30%;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

h3 {
    color: darkblue;
    text-align: center;
}

p {
    color: rgb(95, 16, 180);
    text-align: center;
    font-size: small;
    text-shadow: 0.5px 1px 0.5px rgb(50, 50, 50);
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
  }