
  .musthave-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../../Images/taylor\ 2.jpeg);
    margin: 0;
    padding: 0;
  }

  .container4 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .must-have {
    width: 250px;
    padding: 20px;
    background-color: rosybrown;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
  }
  .must-have img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .must-have h2 {
    margin: 0;
    color: floralwhite;
  }
  .must-have p {
    margin: 0;
    color: rgb(177, 238, 255);
  }
