.navbar {
    margin-top: 0;
    background-color:  rgb(0, 2, 65);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: pink;
}

.navbar img {
    width: 100px;
    height: auto;
  }